# Editors
.vscode/
.idea/

# Vagrant
.vagrant/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Log file
log-agent.txt
workbench-agent-log.txt

# Local Testing Things and Sample Code
inspiration/
test-commands.txt
original-wb-agent.py
workbench-agent-log.txt
.venv/
.env-*
src/workbench_agent.egg-info/
build
reports/

# Coverage
.coverage*

# Pytest
.pytest_cache/
__pycache__/

# Mypy
.mypy_cache/
results.json
